.bodyBackground {
    -fx-background-color: linear-gradient(to bottom, rgb(2,0,36,1) 0%, rgb(185,187,110,1) 50%, rgb(2,0,36,1) 100%);
    /*-fx-background-color: #474747;*/
    -fx-color: #474747;
    -fx-opacity: 90%;
    -fx-background-size: 100% 100%;
}

.bodyBackground2 {
    -fx-background-color: #111111;
    -fx-color: #111111;
    -fx-border-radius: 2;
    -fx-opacity: 90%;
    -fx-background-size: 100% 100%;
}
.bodyBackground3 {
    /*-fx-background-image: url('sea.png');*/
    -fx-background-color: rgb(2, 0, 36, 1);
    -fx-background-size: 100% 100%;
    -fx-border-radius: 0;
    -fx-border-color :transparent;
}

.bodyBackground4 {
    -fx-background-color: rgb(2, 0, 36, 1);
}

/*this one is for gain hightlight in resources on top bar/*/
.bodyBackground5 {
    /*-fx-stroke-width: 3px;*/
    /*-fx-stroke: rgba(255, 171, 79, 0.45);*/
    -fx-border-color: rgba(255, 171, 79, 0.45);
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-background-color: rgba(2, 0, 36, 0.75);
    -fx-text-fill: pink;

}





.gold{
    -fx-background-image:url('gold.png');
    -fx-background-size: 25% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);

    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;

}
.faith{
    -fx-background-image:url('faith.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.buildingResources{
    -fx-background-image:url('buildingResources.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.bronze{
    -fx-background-image:url('bronze.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.iron{
    -fx-background-image:url('iron.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.horse{
    -fx-background-image:url('horse.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.dyes{
    -fx-background-image:url('dyes.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}

.clock123{
    -fx-background-image:url('clock.png');
    -fx-background-size: 20% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: grey;
}

.split-pane:vertical > .split-pane-divider {
    /*-fx-background-color: rgb(2,0,36,1); maybe?*/
    -fx-background-color: gold;
}


.split-pane2:vertical > .split-pane-divider {
    -fx-background-color: pink;
}




.description{
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
    -fx-stroke-width: 0px;
}

.button {
    -fx-background-radius: 15px;
    -fx-color: #474747;
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: bold;
    -fx-font-family: Manjari;
    -fx-display: inline-block;
    -fx-font-size: 15px;
}
.button2 {
    -fx-background-radius: 500px;
    -fx-color: #474747;
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: bold;
    -fx-font-family: Manjari;
    -fx-display: inline-block;
    -fx-font-size: 130px;
}

.button3 {
    -fx-background-color: linear-gradient(to bottom, rgb(2,0,36,1) 0%, rgb(185,187,110,1) 50%, rgb(2,0,36,1) 100%);
    -fx-padding: 50px 32px;
    -fx-text-align: center;
    -fx-text-decoration: bold;
    -fx-font-family: Manjari;
    -fx-display: inline-block;
    -fx-font-size: 200px;
    -fx-text-fill: #eae0c8;
}
.exitButton {
    /*-fx-background-color: rgb(2,0,36,1);*/
    -fx-background-image:url('exit.png');
    -fx-background-size: 95% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: rgb(2,0,36,1);


    -fx-max-width: 50;
    -fx-max-height: 30;
    -fx-pref-width: 50;
    -fx-pref-height: 30;
    -fx-min-width: 50;
    -fx-min-height: 30;
    -fx-alignment: center;
    /*-fx-display: inline-block;*/
    -fx-border-radius: 15px;
}
.exitButton:hover{
    -fx-background-image:url('exit2.png');
}




.settingsButton {
    -fx-background-radius: 30px;
    -fx-color: #474747;
    -fx-opacity: 90%;
    -fx-padding: 10px 20px;
    -fx-text-align: center;
    -fx-text-decoration: bold;
    -fx-font-family: Manjari;
    -fx-display: inline-block;
    -fx-font-size: 22px;
}
.text-field {
    -fx-cursor: default;
}

/*exit button*/
.nextPlayerButton {
    -fx-background-radius: 200px;
    -fx-background-color: rgba(2,0,36,0.60) ;
    -fx-color: 	rgba(255,192,203,1);
    -fx-border-radius: 800;
    -fx-text-fill: rgba(255,192,203,1);
    /*-fx-opacity:85%;*/
    -fx-font-size: 40;
    -fx-padding: 10px 20px;
}
.nextPlayerButton:hover{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: rgba(2,0,36,0.90) ;
}
.nextPlayerButton:visited{
    -fx-text-fill: rgb(0, 135, 54);
    -fx-background-color: rgba(2,0,36,0.90) ;
}
