.bodyBackground {
    -fx-color: #474747;
    -fx-opacity: 90%;
    -fx-background-size: 100% 100%;
    -fx-border-color: rgba(255, 171, 79, 1);
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-background-color: rgba(2, 0, 36, 0.95);
}

.bodyBackgroundX {
    -fx-color: #474747;
    -fx-opacity: 90%;
    -fx-background-size: 100% 100%;
    -fx-border-color: rgba(255, 171, 79, 1);
    -fx-border-width: 3px;

    -fx-background-color: rgba(2, 0, 36, 1);
}

.bodyBackground2 {
    -fx-background-color: #111111;
    -fx-color: #111111;
    -fx-border-radius: 2;
    -fx-opacity: 90%;
    -fx-background-size: 100% 100%;
}
.bodyBackground3 {
    /*-fx-background-image: url('sea.png');*/
    -fx-background-color: rgb(2, 0, 36, 1);
    -fx-background-size: 100% 100%;
    -fx-border-radius: 0;
    -fx-border-color :transparent;
}

.bodyBackground4 {
    -fx-background-color: rgb(2, 0, 36, 1);
}

/*this one is for gain hightlight in resources on top bar/*/
.bodyBackground5 {
    /*-fx-stroke-width: 3px;*/
    /*-fx-stroke: rgba(255, 171, 79, 0.45);*/
    -fx-border-color: rgba(255, 171, 79, 0.45);
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-background-color: rgba(2, 0, 36, 0.75);
    -fx-text-fill: pink;

}
.bodyBackground6 {
    -fx-border-color: rgba(255, 171, 79, 1);
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-background-color: rgba(2, 0, 36, 0.95);
    -fx-text-fill: pink;

}


.default-color0.chart-series-line { -fx-stroke: #7FFFD4; }
.default-color1.chart-series-line { -fx-stroke: #FFFF00; }
.default-color2.chart-series-line { -fx-stroke: #FF0000; }
.default-color3.chart-series-line { -fx-stroke: #7FFFD4; }
.default-color4.chart-series-line { -fx-stroke: #FFFF00; }
.default-color5.chart-series-line { -fx-stroke: #FF0000; }

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}


.default-color0.chart-line-symbol { -fx-background-color: #7FFFD4, #7FFFD4; -fx-stroke-width: 20px; -fx-cell-size: 50px}
.default-color1.chart-line-symbol { -fx-background-color: #FFFF00, #FFFF00; -fx-stroke-width: 10px;}
.default-color2.chart-line-symbol { -fx-background-color: #FF0000, #FF0000; -fx-stroke-width: 40px;}
.default-color3.chart-line-symbol { -fx-background-color: #7FFFD4, #7FFFD4; -fx-stroke-width: 20px; -fx-cell-size: 50px}
.default-color4.chart-line-symbol { -fx-background-color: #FFFF00, #FFFF00; -fx-stroke-width: 10px;}
.default-color5.chart-line-symbol { -fx-background-color: #FF0000, #FF0000; -fx-stroke-width: 40px;}

.chart {
    -fx-padding: 10px;
}

.chart-legend-item-symbol{
    -fx-stroke-width: 20px;

}
.chart-title{
    -fx-font-size: 40px;
    -fx-text-fill: rgba(255, 171, 79, 1);
    -fx-font-family: Manjari;
}



.chart-content {
    -fx-padding: 30px;

}
.chart-legend {
    -fx-background-color:  transparent;
    -fx-font-size: 40px;
    -fx-padding: 0px;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: rgba(255, 171, 79, 1);
}
.chart-plot-background {
    -fx-background-color: rgba(2, 0, 36, 0.95);
}
.chart-vertical-grid-lines {
    -fx-stroke: rgba(255, 171, 79, 1);
}
.chart-horizontal-grid-lines {
    -fx-stroke: rgba(255, 171, 79, 1);
}
.chart-alternative-row-fill {
    -fx-fill: rgba(2, 0, 36, 0.95);
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.axis {
    -fx-font-size:  2em;
    -fx-tick-label-fill: rgba(255, 171, 79, 1);
    /*-fx-tick-label-font: 10px;*/
    -fx-font-family: Manjari;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 20;
}

.axis-label {
    -fx-text-fill: #462300;
}
.axis-tick-mark {
    -fx-stroke: rgba(255, 171, 79, 1);
    -fx-stroke-width: 3;
}
.axis-minor-tick-mark {
    -fx-stroke: rgba(255, 171, 79, 1);
    -fx-stroke-width: 1;
}

.gold{
    -fx-background-image:url('gold.png');
    -fx-background-size: 25% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);

    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;

}
.faith{
    -fx-background-image:url('faith.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.buildingResources{
    -fx-background-image:url('buildingResources.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.bronze{
    -fx-background-image:url('bronze.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.iron{
    -fx-background-image:url('iron.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.horse{
    -fx-background-image:url('horse.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    /*-fx-background-color: #474747;*/
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.dyes{
    -fx-background-image:url('dyes.png');
    -fx-background-size: 30% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}

.clock123{
    -fx-background-image:url('clock.png');
    -fx-background-size: 20% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: grey;
}

.shortcuts{
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-font-size: 30;
    -fx-text-fill: grey;
}

.nextSong{
    -fx-background-color: rgb(2,0,36,1);
    -fx-font-family: Manjari;
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
    -fx-font-size:15px;
}
.nextSong:hover{
    -fx-text-fill: white;
    -fx-font-size: 15px;

}



.split-pane:vertical > .split-pane-divider {
    /*-fx-background-color: rgb(2,0,36,1); maybe?*/
    -fx-background-color: rgba(255, 171, 79, 1);
    -fx-border-width: 3px;
    -fx-background-size: 3px;
    -fx-stroke-width: 3px;
    -fx-padding: 1 0.1em 1 0.1em;
}


.split-pane2:vertical > .split-pane-divider {
    -fx-background-color: pink;
}




.description{
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
    -fx-stroke-width: 0px;
}

.button {
    -fx-background-radius: 15px;
    -fx-color: #474747;
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: bold;
    -fx-font-family: Manjari;
    -fx-display: inline-block;
    -fx-font-size: 15px;
}
.button2 {
    -fx-background-radius: 500px;
    -fx-color: #474747;
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: bold;
    -fx-font-family: Manjari;
    -fx-display: inline-block;
    -fx-font-size: 130px;
}

.button3 {
    -fx-background-color: linear-gradient(to bottom, rgb(2,0,36,1) 0%, rgb(185,187,110,1) 50%, rgb(2,0,36,1) 100%);
    -fx-padding: 50px 32px;
    -fx-text-align: center;
    -fx-text-decoration: bold;
    -fx-font-family: Manjari;
    -fx-display: inline-block;
    -fx-font-size: 200px;
    -fx-text-fill: #eae0c8;
}
.exitButton {
    /*-fx-background-color: rgb(2,0,36,1);*/
    -fx-background-image:url('exit.png');
    -fx-background-size: 95% 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: rgb(2,0,36,1);


    -fx-max-width: 50;
    -fx-max-height: 30;
    -fx-pref-width: 50;
    -fx-pref-height: 30;
    -fx-min-width: 50;
    -fx-min-height: 30;
    -fx-alignment: center;
    /*-fx-display: inline-block;*/
    -fx-border-radius: 15px;
}
.exitButton:hover{
    -fx-background-image:url('exit2.png');
}






.text-field {
    -fx-cursor: default;
}

/*exit button*/
.nextPlayerButton {
    -fx-background-radius: 200px;
    -fx-background-color: rgba(2,0,36,0.60) ;
    -fx-color: 	rgba(255,192,203,1);
    -fx-border-radius: 800;
    -fx-text-fill: rgba(255,192,203,1);
    /*-fx-opacity:85%;*/
    -fx-font-size: 40;
    -fx-padding: 10px 20px;
}
.nextPlayerButton:hover{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: rgba(2,0,36,0.90) ;
}
.nextPlayerButton:visited{
    -fx-text-fill: rgb(0, 135, 54);
    -fx-background-color: rgba(2,0,36,0.90) ;
}




.provincePanelFaith{
    -fx-background-image:url('faith.png');
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-right;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.provincePanelWood{
    -fx-background-image:url('buildingResources.png');
    -fx-background-size: 55% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-right;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.provincePanelGold{
    -fx-background-image:url('gold.png');
    -fx-background-size: 45% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-right;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.provincePanelFood{
    -fx-background-image:url('food.png');
    -fx-background-size: 45% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-right;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.provincePanelPopulation{
    -fx-background-image:url('population.png');
    -fx-background-size: 50% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0px -6px;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-right;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.armyArcher{
    -fx-background-image:url('archer.png');
    -fx-background-size: 50% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0px 0px;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-right;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.armyChariot{
    -fx-background-image:url('chariot.png');
    -fx-background-size: 70% 170%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0px -10px;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-right;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.armyWarrior{
    -fx-background-image:url('warrior.png');
    -fx-background-size: 50% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0px 0px;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-right;
    -fx-text-decoration: bold;
    -fx-text-fill: pink;
}
.building {
    -fx-opacity: 0.2;
    -fx-background-image:url('gold_mine.png');
    -fx-background-size: 50% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-left;
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(from 75px 50px to 100px 100px, #02214f, #057180);
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-text-fill: pink;
}
.building:hover{
    -fx-text-fill: white;
    -fx-opacity: 0.4;
}
.builtBuilding {
    -fx-opacity: 1;
    -fx-background-image:url('gold_mine.png');
    -fx-background-size: 50% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-left;
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(from 75px 50px to 100px 100px, #02214f, #057180);
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.builtBuilding:hover{
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.baseBuilding {
    -fx-opacity: 0.2;
    -fx-background-image:url('gold_mine.png');
    -fx-background-size: 50% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-left;
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(from 75px 50px to 100px 100px, #014202, #07a62e);
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-text-fill: pink;
}
.baseBuilding:hover{
    -fx-text-fill: white;
    -fx-opacity: 0.4;
}
.builtBaseBuilding {
    -fx-opacity: 1;
    -fx-background-image:url('gold_mine.png');
    -fx-background-size: 50% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center-left;
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(from 75px 50px to 100px 100px, #014202, #07a62e);
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.builtBaseBuilding:hover{
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.possReskonie{
    -fx-background-image:url('horse.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}
.possResbraz{
    -fx-background-image:url('bronze.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}
.possReszelazo{
    -fx-background-image:url('iron.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}
.possReszloto{
    -fx-background-image:url('gold.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}
.possResryby{
    -fx-background-image:url('fish.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}
.possResbarwniki{
    -fx-background-image:url('dyes.png');
    -fx-background-size: 30 20;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}
.possResbydlo{
    -fx-background-image:url('food.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}
.possResdziczyzna{
    -fx-background-image:url('food.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}
.possResdrewno{
    -fx-background-image:url('wood.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}
.possResbursztyn{
    -fx-background-image:url('wood.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}
.possResowocemorza{
    -fx-background-image:url('wood.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgb(2,0,36,1);
    -fx-background-position: center;
}


.colonizeButton {
    -fx-background-color: rgb(2,0,36,1);
    -fx-alignment: center;
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(from 75px 50px to 100px 100px, #014202, #07a62e);
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-text-fill: pink;
}

.settingsButton {
    -fx-background-radius: 200px;
    -fx-background-color: rgba(2,0,36,0.80) ;
    -fx-color: 	rgba(255,192,203,1);
    -fx-border-radius: 800;
    -fx-text-fill: rgba(255,192,203,1);

    /*-fx-opacity:85%;*/
    -fx-font-size: 30;
    -fx-padding: 10px 20px;
}
.settingsButton:hover{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: rgba(2,0,36,0.95) ;
}

.settingsButton2 {
    -fx-background-radius: 200px;
    -fx-background-color: rgba(2,0,36,0.80) ;
    /*-fx-color: 	rgba(255,192,203,1);*/
    -fx-border-radius: 800;
    -fx-text-fill: grey;

    /*-fx-opacity:85%;*/
    -fx-font-size: 30;
    -fx-padding: 10px 20px;
}
.settingsButton2:hover{
}

.mainMenuButton {
    -fx-background-radius: 200px;
    -fx-background-color: rgba(2,0,36,0.80) ;
    -fx-color: 	rgba(255,192,203,1);
    -fx-border-radius: 800;
    -fx-text-fill: rgba(255,192,203,1);
    /*-fx-opacity:85%;*/
    -fx-font-size: 30;
    -fx-padding: 10px 20px;
    -fx-background-size: 100% 100%;
}
.mainMenuButton:hover{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: rgba(2,0,36,0.95) ;
}

.mainMenuButtonX {
    -fx-background-radius: 200px;
    -fx-background-color: rgba(2,0,36,0.80) ;
    -fx-color: 	rgba(255,192,203,1);
    -fx-border-radius: 800;
    -fx-text-fill: rgba(255,192,203,1);
    /*-fx-opacity:85%;*/
    -fx-font-size: 20;
    -fx-font-family: Manjari;
    -fx-padding: 10px 20px;
    -fx-background-size: 100% 100%;
}
.mainMenuButtonX:hover{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: rgba(2,0,36,0.95) ;
}




.slider {
    -fx-background-size: 100% 100%;
    -fx-slider-filled-track-color: pink ;
}
.slider .thumb {
    -fx-background-color: pink ;
}
.slider .track {
    -fx-background-color: grey ;
}
.slider .thumb:hover{
    -fx-background-color: white ;
}
.scrollPanePanel{
    -fx-background: rgb(2,0,36,1);
}